{% extends 'base.html' %}

{% block main %}
<script>
function keepValue(id) {
    //var fm = document.getElementById(id);
    //var collection = fm.getElementsByClassName("text");
    //for (var i=0; i<collection.length; i++){

    //}
    var x = document.getElementById(id);
    x.innerHTML = "hello";
}
</script>

<div class="row">

    <!-- Main content -->
    <div class="col-md-8">
        <form id="locate" action="{% url 'location:locate' %}" method="get">

            <label>具体地点：
                <input type="text" size="50" name="address" class="text" placeholder="请输入具体地点">
            </label>

            <label>城市：
                <select name="city">
                    <option value="广州">广州</option>
                </select>
            </label>

            <label>请求秘钥：
                <select name="key">
                {% for k in key_list %}
                    <option value="{{ k.key }}">{{ k.key }}</option>
                {% endfor %}
                </select>
            </label>

            <input type="submit" value="查询" class="btn btn-primary" onclick="keepValue('demo')">
        </form>
        <p id="demo"></p>

        {% if location %}
            <p>{{ location }}</p>
        {% endif %}
        {% for full_address in full_address_list %}
            <p>{{ full_address }}</p>
        {% endfor %}
        <br>

        <form action="{% url 'location:transit' %}" method="post">
            {% csrf_token %}

            <label>两个坐标点：
                <input type="text" name="location1" class="text" placeholder="请输入坐标点">
                <input type="text" name="location2" class="text" placeholder="请输入坐标点">
            </label>

            <label>请求秘钥：
                <select name="key">
                {% for k in key_list %}
                    <option value="{{ k.key }}">{{ k.key }}</option>
                {% endfor %}
                </select>
            </label>

            <label>排序名称：
                <select name="order_name">
                    <option value="total_per_cost">总平均费用</option>
                    <option value="total_per_duration">总平均时间</option>
                    <option value="total_per_walking_distance">总平均步行距离</option>
                    <option value="total_per_distance">总平均距离</option>
                </select>
            </label>

            <label>排序方式：
                <select name="order_type">
                    <option value="">顺序</option>
                    <option value="-">倒序</option>
                </select>
            </label>

            <input type="submit" value="search" class="btn btn-primary">
        </form>

        <article>
            <ul>
                {% if order_name == 'total_per_cost' %}
                <li>id&nbsp;&nbsp;站点名&nbsp;&nbsp;总平均费用</li>
                {% for td in transit_detail %}
                <li><a href="{% url 'location:detail' td.traffic_info.id %}">{{ td.traffic_info.id }}&nbsp;&nbsp;{{ td.traffic_info.name }}&nbsp;&nbsp;{{ td.total_per_cost }}</a></li>
                {% endfor %}

                {% elif order_name == 'total_per_duration' %}
                <li>id&nbsp;&nbsp;站点名&nbsp;&nbsp;总平均时间</li>
                {% for td in transit_detail %}
                <li><a href="{% url 'location:detail' td.traffic_info.id %}">{{ td.traffic_info.id }}&nbsp;&nbsp;{{ td.traffic_info.name }}&nbsp;&nbsp;{{ td.total_per_duration }}</a></li>
                {% endfor %}

                {% elif order_name == 'total_per_walking_distance' %}
                <li>id&nbsp;&nbsp;站点名&nbsp;&nbsp;总平均步行距离</li>
                {% for td in transit_detail %}
                <li><a href="{% url 'location:detail' td.traffic_info.id %}">{{ td.traffic_info.id }}&nbsp;&nbsp;{{ td.traffic_info.name }}&nbsp;&nbsp;{{ td.total_per_walking_distance }}</a></li>
                {% endfor %}

                {% elif order_name == 'total_per_distance' %}
                <li>id&nbsp;&nbsp;站点名&nbsp;&nbsp;总平均距离</li>
                {% for td in transit_detail %}
                <li><a href="{% url 'location:detail' td.traffic_info.id %}">{{ td.traffic_info.id }}&nbsp;&nbsp;{{ td.traffic_info.name }}&nbsp;&nbsp;{{ td.total_per_distance }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </article>


        <article>

            <h2 class="article-title">Buy unbranded</h2>
            <p class="article-meta">Posted on <time datetime="2013-05-14">14 May</time> by <a href="#" rel="author">Joe Bloggs</a></p>

            <p>Purchasing a template license for 8.00 GBP (at time of writing around 12 USD) gives you the right to remove any branding including links, logos and source tags relating to ZyPOP. As well as waiving the attribution requirement, your payment will also help us provide continued support for users as well as creating new web templates. Find out more about how to buy at the licensing page on our website which can be accessed at <a href="#licensing" title="template license">#licensing</a></p>

            <h3>Lorem lipsum</h3>

            <p>Morbi fermentum condimentum felis, commodo vestibulum sem mattis sed. Aliquam magna ante, mollis vitae tincidunt in, malesuada vitae turpis. Sed aliquam libero ut velit bibendum consectetur. Quisque sagittis, est in laoreet semper, enim dui consequat felis, faucibus ornare urna velit nec leo. Maecenas condimentum velit vitae est lobortis fermentum. In tristique sem vitae metus ornare luctus tempus nisl volutpat. Integer et est id nisi tempus pharetra sagittis et libero.</p>

            <a href="#" class="btn btn-primary">Read more</a>
            <a href="#" class="btn btn-secondary">Comments</a>
        </article>


        <!-- Example pagination Bootstrap component -->
        <nav>
            <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
            </ul>
        </nav>
    </div>


    <!-- Sidebar -->



</div>

{% endblock main %}