{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="row">

    <!-- Main content -->
    <article class="col-md-11">
        <form class="form-inline" role="form">
            <div class="form-group has-feedback">
                <label for="address">具体地点：</label>
                <div>
                    <input class="form-control" id="address" type="text" size="50" name="address" placeholder="请输入具体地点">
                    <a href="#"><span class="glyphicon glyphicon-remove form-control-feedback" style="display:inline-block;"></span></a>
                </div>

            </div>
            <div class="form-group">
                <label for="city">城市：</label>
                <select id="city" name="city">
                    <option value="广州">广州</option>
                </select>
            </div>
            <div class="form-group">
                <label for="key">请求秘钥：</label>
                <select id="key" name="key">
                {% for k in key_list %}
                    <option value="{{ k.key }}">{{ k.id }}&nbsp;&nbsp;</option>
                {% endfor %}
                </select>
            </div>
            &nbsp;&nbsp;
            <input class="btn btn-primary" id="search" type="button" value="查询坐标">
        </form>
        <ul id="full_address">
        </ul>
        <br>

        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="location1">第一坐标：</label>
                <input id="location1" type="text" name="location1" placeholder="请输入坐标点">
            </div>
            <div class="form-group">
                <label for="location2">第一坐标：</label>
                <input id="location2" type="text" name="location2" placeholder="请输入坐标点">
            </div>
            <div class="form-group">
                <label for="order_name">排序值：</label>
                <select id="order_name" name="order_name">
                    <option value="total_per_cost">总平均费用</option>
                    <option value="total_per_duration">总平均时间</option>
                    <option value="total_per_walking_distance">总平均步行距离</option>
                    <option value="total_per_distance">总平均距离</option>
                </select>
            </div>
            <div class="form-group">
                <label for="order_type">排序方式：</label>
                <select id="order_type" name="order_type">
                    <option value="">顺序</option>
                    <option value="-">倒序</option>
                </select>
            </div>
            &nbsp;&nbsp;
            <input class="btn btn-primary" id="search_transit" type="button" value="查询路线">
        </form>
        <br>

        <div>
            <table class="table table-hover" id="transit_table">
                <thead id="table_header">
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
        </div>

        <!-- Example pagination Bootstrap component -->
        <nav>
            <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
            </ul>
        </nav>
    </article>


</div>
{% endblock main %}

{% block bodyjs %}
<script src="{% static 'location/js/index.js' %}"></script>
<script>
$(function () {
    $("#address").autoClearButtonInput("create");
})
</script>
{% endblock %}