{% extends 'base.html' %}
{% load static %}

{% block mainNavbar %}
<ul class="flex-column mr-auto">
    <li class="nav-item active">
        <a class="nav-link active" href="{% url 'location:index' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'location:db_data' %}">Database</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#MenuDropdown" data-toggle="collapse" aria-controls="MenuDropdown" aria-expanded="false">Examples &amp; Pages</a>
        <ul id="MenuDropdown" class="sub-navbar collapse flex-column">
            <li class="nav-item"><a class="nav-link" href="examples.html">Style Examples</a></li>
            <li class="nav-item"><a class="nav-link" href="three-column.html">Three Column</a></li>
            <li class="nav-item"><a class="nav-link" href="one-column.html">One column / no sidebar</a></li>
            <li class="nav-item"><a class="nav-link"  href="text.html">Text / left sidebar</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block main %}
<div class="row">

    <!-- Main content -->
    <article class="col-md-11">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="address">具体地点：</label>
                <div>
                    <input class="form-control" id="address" type="text" size="50" name="address" placeholder="请输入具体地点">
                    <a name="text-delete"><span class="fa fa-window-close"></span></a>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="city">城市：</label>
                <select id="city" name="city">
                    <option value="广州">广州</option>
                </select>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="key">请求秘钥：</label>
                <select id="key" name="key">
                    <option value=""></option>
                {% if key_list %}
                    {% for k in key_list %}
                        <option value="{{ k.key }}">{{ k.id }}&nbsp;&nbsp;</option>
                    {% endfor %}
                {% else %}
                    <option value="init key">init key</option>
                {% endif %}
                </select>
            </div>
            &nbsp;&nbsp;&nbsp;
            <input class="btn btn-primary btn-sm" id="search" type="button" value="查询坐标">
        </form>
        <ul id="full_address">
        </ul>
        <br>

        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="location1">第一坐标：</label>
                <div>
                    <input class="form-control" id="location1" type="text" name="location1" placeholder="请输入坐标点">
                    <a name="text-delete"><span class="fa fa-window-close"></span></a>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="location2">第二坐标：</label>
                <div>
                    <input class="form-control" id="location2" type="text" name="location2" placeholder="请输入坐标点">
                    <a name="text-delete"><span class="fa fa-window-close"></span></a>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="order_name">排序值：</label>
                <select id="order_name" name="order_name">
                    <option value="total_per_cost">总平均费用</option>
                    <option value="total_per_duration">总平均时间</option>
                    <option value="total_per_walking_distance">总平均步行距离</option>
                    <option value="total_per_distance">总平均距离</option>
                </select>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="order_type">排序方式：</label>
                <select id="order_type" name="order_type">
                    <option value="">顺序</option>
                    <option value="-">倒序</option>
                </select>
            </div>
            &nbsp;&nbsp;
            <input class="btn btn-primary btn-sm" id="search_transit" type="button" value="查询路线">
        </form>
    </article>

    <article class="col-md-11">
        <div>
            <table class="table table-hover" id="transit_table">
                <thead id="table_header">
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
            <p id="search-error"></p>
        </div>
        <!-- Example pagination Bootstrap component -->
        <nav>
            <ul class="pagination">
                <li class="page-item disabled" id="previous">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item d-none" id="previous2"><a class="page-link"></a></li>
                <li class="page-item d-none" id="previous1"><a class="page-link"></a></li>
                <li class="page-item active d-none" id="current"><a class="page-link">1</a></li>
                <li class="page-item d-none" id="next1"><a class="page-link"></a></li>
                <li class="page-item d-none" id="next2"><a class="page-link"></a></li>
                <li class="page-item disabled" id="next">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li><p>总<span id="total_page"></span>页</p></li>
        </nav>
    </article>
</div>
{% endblock main %}

{% block bodyjs %}
<script src="{% static 'location/js/index.js' %}"></script>
{% endblock %}